/* Effect-1 - fade */
@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}
  	100% {
  		opacity: 1;
  	}
}
@keyframes fade {
	0% {
		pacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.fade {
  	-webkit-animation-name: fade;
    animation-name: fade;
}

/* Effect-2 - fadeTop */
@-webkit-keyframes fadeTop {
	0% {
   		opacity: 0;
    	-webkit-transform: translate3d(0, -30%, 0);
    	transform: translate3d(0, -30%, 0);
	}
	100% {
    	opacity: 1;
  	}
}

@keyframes fadeTop {
	0% {
   		opacity: 0;
    	-webkit-transform: translate3d(0, -30%, 0);
    	transform: translate3d(0, -30%, 0);
	}
	100% {
    	opacity: 1;
  	}
}

.fadeTop {
	-webkit-animation-name: fadeTop;
	animation-name: fadeTop;
}

/* Effect-3 - fadeBottom */
@-webkit-keyframes fadeBottom {
	0% {
   		opacity: 0;
    	-webkit-transform: translate3d(0, 30%, 0);
    	transform: translate3d(0, 30%, 0);
	}
	100% {
    	opacity: 1;
  	}
}

@keyframes fadeBottom {
	0% {
   		opacity: 0;
    	-webkit-transform: translate3d(0, 30%, 0);
    	transform: translate3d(0, 30%, 0);
	}
	100% {
    	opacity: 1;
  	}
}

.fadeBottom {
	-webkit-animation-name: fadeBottom;
	animation-name: fadeBottom;
}

/* Effect-4 - fadeLeft */
@-webkit-keyframes fadeLeft {
	0% {
   		opacity: 0;
    	-webkit-transform: translate3d(30%, 0, 0);
    	transform: translate3d(30%, 0, 0);
	}
	100% {
    	opacity: 1;
  	}
}

@keyframes fadeLeft {
	0% {
   		opacity: 0;
    	-webkit-transform: translate3d(30%, 0, 0);
    	transform: translate3d(30%, 0, 0);
	}
	100% {
    	opacity: 1;
  	}
}

.fadeLeft {
	-webkit-animation-name: fadeLeft;
	animation-name: fadeLeft;
}

/* Effect-5 - fadeRight */
@-webkit-keyframes fadeRight {
	0% {
   		opacity: 0;
    	-webkit-transform: translate3d(-30%, 0, 0);
    	transform: translate3d(-30%, 0, 0);
	}
	100% {
    	opacity: 1;
  	}
}

@keyframes fadeRight {
	0% {
   		opacity: 0;
    	-webkit-transform: translate3d(-30%, 0, 0);
    	transform: translate3d(-30%, 0, 0);
	}
	100% {
    	opacity: 1;
  	}
}

.fadeRight {
	-webkit-animation-name: fadeRight;
	animation-name: fadeRight;
}



/* General animate*/
.view-action {
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
  	-webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 0;
}