/*RESET*/
*{
	margin:0;
	padding:0;
}
img{
	border:none;
}
input{
	
	border:none;
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
input,select,option{
	outline:0;
	border:0;
}
a{
    text-decoration: none;
}

/*STYLE*/
body {
	font-family: Verdana, sans-serif;
	height: 100%;
}
h2{
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 30px;
}
h2 span {
	background: #008ed6;
	color: white;
	display: inline-block;
	padding: 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.wrapper {
	height: 100%;
}
.row-wrap {
	width: 960px;
	margin: 0 auto;
	padding: 50px;
}
.row-wrap > div {
	padding: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix {
	display: block;
	clear: both;
}
.row-line-1 {
	background: #222222;
}
.w-33 {
	float: left;
	width: 33%;
}

/*EFF-1*/
.row-line-1 {
	text-align: center;
}
.row-line-1 h3 {
	margin: 5px;
	color: #008ed6;
}
.row-line-1 p {
	color: #c8c8c8;
	line-height: 22px;
	font-size: 14px;
}
.row-line-1 .fa {
	color: #008ed6;
}

/* Уникальные настройки для кастомных классов */ 
.view-action.my-class-1{
	-webkit-animation-duration: 4s;
    animation-duration: 4s;
}

.view-action.delay-1-eff-1-3 {
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.view-action.delay-2-eff-1-3 {
	-webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.view-action.delay-3-eff-1-3 {
	-webkit-animation-duration: 3s;
    animation-duration: 3s;
}
